# https://github.com/marketplace/actions/prettier-action
name: 'Prettier for SEP files'

on:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check code
        uses: creyD/prettier_action@31355f8eef017f8aeba2e0bc09d8502b13dbbad1
        with:
          prettier_options: --check ecosystem/*.md